Repository Dmoment/ShoppingCart: changes, and which lint-staged commands are due for each by the changed paths.
All: ./node_modules/prettier/bin-prettier.js --trailing-comma es5 --write, bundle exec rubocop -a

Setup tailwindcss
  app/javascript/packs/application.js
  app/javascript/stylesheets/application.scss
  app/views/dashboard/home.html.erb
  app/views/layouts/application.html.erb
  package.json
  postcss.config.js
  tailwind.config.js
  yarn.lock
Due: ./node_modules/prettier/bin-prettier.js --trailing-comma es5 --write

Added reactjs to the project
  Gemfile
  Gemfile.lock
  app/javascript/packs/application.js
  app/javascript/src/App.jsx
  app/javascript/src/apis/axios.js
  babel.config.js
  config/webpacker.yml
  package.json
  yarn.lock
Due: ./node_modules/prettier/bin-prettier.js --trailing-comma es5 --write

Added reusable components and API based architecture
  app/javascript/src/components/Button.jsx
  app/javascript/src/components/Container.jsx
  app/javascript/src/components/Input.jsx
  app/javascript/src/components/NavBar/NavItem.jsx
  app/javascript/src/components/NavBar/index.jsx
  app/javascript/src/components/PageLoader.jsx
  app/javascript/src/components/Tasks/Table/TableHeader.jsx
  app/javascript/src/components/Tasks/Table/TableRow.jsx
  app/javascript/src/components/Tasks/Table/index.jsx
  app/javascript/stylesheets/application.scss
  app/views/dashboard/home.html.erb
  config/routes.rb
  package.json
  tailwind.config.js
  yarn.lock
Due: ./node_modules/prettier/bin-prettier.js --trailing-comma es5 --write

rubocop linting
  Gemfile
  Gemfile.lock
  app/controllers/products_controller.rb
  app/javascript/src/App.jsx
  app/javascript/src/apis/products.js
  app/javascript/src/components/NavBar/index.jsx
  app/javascript/src/components/Products/index.jsx
  app/javascript/src/components/Tasks/Table/TableHeader.jsx
  app/javascript/src/components/Tasks/Table/TableRow.jsx
  app/models/product.rb
  app/serializers/product_serializer.rb
  app/views/layouts/application.html.erb
  bin/bundle
  config/credentials.yml.enc
  config/environments/development.rb
  config/routes.rb
  config/storage.yml
  db/migrate/20190216221309_create_active_storage_tables.active_storage.rb
  db/migrate/20220201122527_create_products.rb
  db/migrate/20220203114039_create_active_storage_tables.active_storage.rb
  db/schema.rb
  test/factories/products.rb
Due: ./node_modules/prettier/bin-prettier.js --trailing-comma es5 --write, bundle exec rubocop -a

Setup rspec, updated product factory
  .rspec
  Gemfile
  Gemfile.lock
  app/controllers/application_controller.rb
  spec/controllers/products_controller_spec.rb
  spec/models/product_spec.rb
  spec/rails_helper.rb
  spec/spec_helper.rb
  test/factories/products.rb
Due: bundle exec rubocop -a

Added model test cases and added null constraints to columns
  app/models/product.rb
  db/migrate/20220204060610_make_products_column_not_nullable.rb
  db/schema.rb
  spec/models/product_spec.rb
Due: bundle exec rubocop -a

Added cart and cart model configs
  app/controllers/application_controller.rb
  app/controllers/concerns/cart_items_controller.rb
  app/controllers/concerns/carts_controller.rb
  app/controllers/products_controller.rb
  app/javascript/src/apis/cart_items.js
  app/javascript/src/components/Tasks/Table/TableRow.jsx
  app/models/cart.rb
  app/models/cart_item.rb
  app/models/product.rb
  app/serializers/cart_item_serializer.rb
  app/serializers/cart_serializer.rb
  app/serializers/product_serializer.rb
  config/routes.rb
  db/migrate/20220204060610_make_products_column_not_nullable.rb
  db/migrate/20220204194146_create_carts.rb
  db/migrate/20220204194223_create_cart_items.rb
  db/schema.rb
  spec/controllers/products_controller_spec.rb
  spec/factories/carts.rb
  spec/factories/line_items.rb
  spec/models/cart_spec.rb
  spec/models/line_item_spec.rb
  spec/models/product_spec.rb
  spec/rails_helper.rb
  spec/spec_helper.rb
Due: ./node_modules/prettier/bin-prettier.js --trailing-comma es5 --write, bundle exec rubocop -a

completed API work for cart_items and cart
  app/controllers/concerns/cart_items_controller.rb
  app/controllers/concerns/carts_controller.rb
  app/javascript/src/App.jsx
  app/javascript/src/apis/axios.js
  app/javascript/src/apis/cart.js
  app/javascript/src/apis/cart_items.js
  app/javascript/src/components/Cart/CartTable/TableFooter.jsx
  app/javascript/src/components/Cart/CartTable/TableHeader.jsx
  app/javascript/src/components/Cart/CartTable/TableRow.jsx
  app/javascript/src/components/Cart/CartTable/index.jsx
  app/javascript/src/components/Cart/index.jsx
  app/javascript/src/components/Common/Toastr.jsx
  app/javascript/src/components/Container.jsx
  app/javascript/src/components/Products/CartIcon.jsx
  app/javascript/src/components/Products/index.jsx
  app/javascript/src/components/Tasks/Table/TableRow.jsx
  app/javascript/src/components/Tasks/Table/index.jsx
  app/javascript/src/helpers/storage.js
  app/javascript/stylesheets/application.scss
  app/models/cart_item.rb
  config/routes.rb
  package.json
  yarn.lock
Due: ./node_modules/prettier/bin-prettier.js --trailing-comma es5 --write, bundle exec rubocop -a

Made user associated with cart and added test cases for cart_items
  app/controllers/application_controller.rb
  app/controllers/concerns/cart_items_controller.rb
  app/javascript/src/components/Cart/index.jsx
  app/javascript/src/components/Products/index.jsx
  app/models/cart.rb
  app/models/cart_item.rb
  app/models/user.rb
  db/migrate/20220207023052_add_column_user_id_to_cart.rb
  db/migrate/20220207042146_add_foreign_key_constraints_to_cart_items.rb
  db/migrate/20220207042522_add_foreign_key_constraint_to_cart.rb
  db/migrate/20220207043032_make_cart_items_column_notullable.rb
  db/schema.rb
  spec/controllers/cart_items_controller_spec.rb
  spec/factories/cart_items.rb
  spec/factories/carts.rb
  spec/helpers/auth_helper.rb
  spec/models/cart_item_spec.rb
  spec/models/line_item_spec.rb
  spec/rails_helper.rb
Due: ./node_modules/prettier/bin-prettier.js --trailing-comma es5 --write, bundle exec rubocop -a

Added comment to describe current cart
  app/controllers/application_controller.rb
Due: bundle exec rubocop -a

logged error in console
  app/javascript/src/helpers/storage.js
Due: ./node_modules/prettier/bin-prettier.js --trailing-comma es5 --write

Added Order creation and show Order functionality
  app/controllers/orders_controller.rb
  app/controllers/products_controller.rb
  app/javascript/src/App.jsx
  app/javascript/src/apis/order.js
  app/javascript/src/components/Cart/CartTable/TableFooter.jsx
  app/javascript/src/components/InputArea.jsx
  app/javascript/src/components/Orders/OrderDetails.jsx
  app/javascript/src/components/Orders/OrderForm.jsx
  app/javascript/src/components/Orders/ProductTable/TableHeader.jsx
  app/javascript/src/components/Orders/ProductTable/TableRow.jsx
  app/javascript/src/components/Orders/ProductTable/index.jsx
  app/javascript/src/components/Orders/ShowOrder.jsx
  app/javascript/src/components/Orders/index.jsx
  app/models/cart_item.rb
  app/models/order.rb
  app/models/product.rb
  app/serializers/order_serializer.rb
  app/serializers/product_serializer.rb
  config/routes.rb
  db/migrate/20220207023052_add_column_user_id_to_cart.rb
  db/migrate/20220207042146_add_foreign_key_constraints_to_cart_items.rb
  db/migrate/20220207042522_add_foreign_key_constraint_to_cart.rb
  db/migrate/20220207043032_make_cart_items_column_notullable.rb
  db/migrate/20220208184819_add_column_order_to_cart_items.rb
  db/migrate/20220208185431_create_orders.rb
  db/migrate/20220209072632_drop_foreign_key_for_cart.rb
  db/migrate/20220209075317_drop_not_null_constraint.rb
  db/migrate/20220209141250_add_column_price_to_order.rb
  db/schema.rb
  spec/factories/orders.rb
  spec/helpers/auth_helper.rb
  spec/models/order_spec.rb
Due: ./node_modules/prettier/bin-prettier.js --trailing-comma es5 --write, bundle exec rubocop -a

Added create Order service and added validations to order model
  app/controllers/orders_controller.rb
  app/javascript/src/components/Orders/index.jsx
  app/models/cart_item.rb
  app/models/order.rb
  app/services/Order/create_order_service.rb
Due: ./node_modules/prettier/bin-prettier.js --trailing-comma es5 --write, bundle exec rubocop -a

Added index action of order, attach user-order relationship and added test cases
  app/controllers/orders_controller.rb
  app/javascript/src/App.jsx
  app/javascript/src/apis/order.js
  app/javascript/src/components/Orders/OrderListing/OrderList.jsx
  app/javascript/src/components/Orders/OrderListing/OrderTable/TableHeader.jsx
  app/javascript/src/components/Orders/OrderListing/OrderTable/TableRow.jsx
  app/javascript/src/components/Orders/OrderListing/OrderTable/index.jsx
  app/javascript/src/components/Orders/index.jsx
  app/javascript/src/components/Products/index.jsx
  app/models/order.rb
  app/models/user.rb
  app/services/Order/create_order_service.rb
  db/migrate/20220210095122_add_column_user_id_to_order.rb
  db/schema.rb
  spec/controllers/orders_controller_spec.rb
  spec/factories/orders.rb
  spec/models/cart_item_spec.rb
  spec/models/order_spec.rb
Due: ./node_modules/prettier/bin-prettier.js --trailing-comma es5 --write, bundle exec rubocop -a

refactored cureent cart setup, Added optimistic locking for orders
  app/controllers/application_controller.rb
  app/controllers/orders_controller.rb
  app/controllers/products_controller.rb
  app/javascript/src/apis/products.js
  app/javascript/src/components/Orders/index.jsx
  app/javascript/src/components/Tasks/Table/TableRow.jsx
  app/models/order.rb
  app/models/product.rb
  app/serializers/product_serializer.rb
  app/services/Order/create_order_service.rb
  app/services/current_cart/set_current_cart_service.rb
  config/routes.rb
  db/migrate/20220210095122_add_column_user_id_to_order.rb
  db/migrate/20220212083206_add_column_in_stock.rb
  db/migrate/20220213063409_add_colum_locking_version_to_products.rb
  db/schema.rb
Due: ./node_modules/prettier/bin-prettier.js --trailing-comma es5 --write, bundle exec rubocop -a

Fixed unwanted code
  app/controllers/orders_controller.rb
  app/models/order.rb
  app/models/product.rb
Due: bundle exec rubocop -a

removed access from outside to order
  app/services/Order/create_order_service.rb
Due: bundle exec rubocop -a

gave only read access to current cart instance variable
  app/services/current_cart/set_current_cart_service.rb
Due: bundle exec rubocop -a

raise exception to break order creation and refactored params
  app/controllers/orders_controller.rb
  app/controllers/products_controller.rb
  app/models/order.rb
  app/models/product.rb
  app/serializers/product_serializer.rb
  app/services/Order/create_order_service.rb
Due: bundle exec rubocop -a

Updated schema
  db/schema.rb
Due: none

Update README.md
  README.md
Due: none

Added linux platform to lockfile
  Gemfile.lock
Due: none

Updated credentials.yml file
  app/models/product.rb
  config/credentials.yml.enc
Due: bundle exec rubocop -a

Updated package.json
  package.json
Due: none

Updated production redis url
  config/cable.yml
Due: none

updated redis url
  config/cable.yml
Due: none

removed sidekiq as not nusing it
  config/application.rb
Due: none

updated stylesheet tag
  app/views/layouts/application.html.erb
Due: none

updated production's active storage config to amazon
  config/cable.yml
  config/environments/production.rb
Due: none

Path conditions:
  ./node_modules/prettier/bin-prettier.js --trailing-comma es5 --write: any of: app/**/*.{js.jsx,js,es6,jsx,scss,css}
  bundle exec rubocop -a: any of: {app,test,features,lib}/**/*.{rb,rake,jbuilder}
